extends layout

block content
  .row
    .col.s12.m4.l3
      form(action='search_terms')
        .row
          .input-field
            i.material-icons.prefix search
            textarea(name='search_value')#icon_prefix2.materialize-textarea
            label(for='icon_prefix2') Search
        p
          each tag in trends
            a
              label
                input.filled-in(type='checkbox', name=tag.name)
                span #{tag.name}
            br
    .col.s12.m8.l9
      .container
        h2 Dropping a Bomb of Tweets
        each tweet in tweets
          .col.s12.m5
            .card-panel.teal
              span.white-text
                | #{tweet.text}
                br
                | #{tweet.sentiment_value}
