extends layout

block content
  .row
    .col.s12.m3
      form(action='/', name="search", method="POST")
        .row
           button.btn.waves-effect.waves-light(type='submit', id='submit')
            | Search
            i.material-icons.right send
        p
          ul.collection
            each tag in trends
                li.collection-item
                  label
                    input.filled-in(type='checkbox', name='value', value=tag.tag)
                    span #{tag.tag}
                  if tag.amount_of_tweets
                    span.new.badge #{tag.amount_of_tweets}
    .col.s12.m6
      #chart_error
      #chart
