doctype html
html
  head
    title Twitter Search
    link(rel='stylesheet', href='/stylesheets/materialize.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  nav
    .nav-wrapper
      a.brand-logo(href='') Tweet Bomber
  block content